body {
  width: 100%;
  height: 100%;
}
.wrap {
  width: 320px;
  height: auto;
  margin: 50px auto;
}

.number-view {
  width: 320px;
  height: 70px;
  border-radius: 10px 10px 0px 0px;
  background-color: gray;
  color: #fff;
}

.view-number {
  width: 100%;
  padding-top: 15px;
  text-align: end;
  font-size: 50px;
}

.view-number-title {
  padding-right: 10px;
}

.number-btn {
  width: 80px;
  height: 50px;
  background-color: rgb(139, 139, 139);
  color: #fff;
  font-size: 20px;
}

.number-btn-orange {
  width: 80px;
  height: 50px;
  background-color: orange;
  color: #fff;
  font-size: 20px;
}